:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);

  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: 'League Spartan', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 100% bottom 100%, left 100% top 100%;
}

.container {
  max-width: 102rem;
  display: grid;
  grid-template-areas:
    'info rating'
    'comments comments';
  grid-template-columns: 1fr 1fr;
}

.info-section {
  grid-area: info;
}

.info-section h1 {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 5rem;
  width: 33rem;
  margin-bottom: 3.2rem;
}

.info-section p {
  color: var(--Dark-Grayish-Magenta);
  font-weight: 500;
  width: 38.5rem;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}

.rating-section {
  grid-area: rating;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.rating-section > div {
  background-color: var(--Light-Grayish-Magenta);
  width: 40rem;
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rating-section div p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  margin-left: 4rem;
}

.rating-section div:nth-child(1) {
  transform: translateX(-1.5rem);
}
.rating-section div:nth-child(2) {
  transform: translateX(2rem);
}
.rating-section div:nth-child(3) {
  transform: translateX(5.5rem);
}

.comments-section {
  grid-area: comments;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}

.comment-container {
  background-color: var(--Very-Dark-Magenta);
  padding: 3rem 2rem;
  border-radius: 0.8rem;
  height: fit-content;
}

.comment-container:nth-child(2) {
  margin-top: 2rem;
}

.comment-container:nth-child(3) {
  margin-top: 3rem;
}

.profile {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 1.6rem;
}

.profile-picture img {
  border-radius: 50%;
  width: 4rem;
}

.profile .username p {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.profile .username .user-status {
  color: var(--Soft-Pink);
  font-size: 1.7rem;
  font-weight: 400;
}

.user-comment {
  color: var(--Light-Grayish-Magenta);
  line-height: 1.5;
  font-weight: 400;
}

@media (min-height: 426px) and (max-width: 768px) {
  .container {
    width: 60rem;
    display: initial;
  }

  body {
    background: url(/images/bg-pattern-top-mobile.svg),
      url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0vh left 0, bottom 0 right 0;
  }

  .info-section h1 {
    text-align: center;
    line-height: 1;
    font-size: 3rem;
    width: 33rem;
    margin-inline: auto;
    padding: 0.5rem;
    margin-block: 1.6rem;
  }

  .info-section p {
    text-align: center;
    width: 45rem;
    margin-inline: auto;
  }

  .rating-section {
    max-width: 100%;
    gap: 1.6rem;
    margin-bottom: 5rem;
  }

  .rating-section > div {
    max-width: 100%;
  }

  .comments-section {
    display: initial;
  }

  .rating-section div:nth-child(1),
  .rating-section div:nth-child(2),
  .rating-section div:nth-child(3) {
    transform: none;
  }
}

@media (max-width: 425px) {
  body {
    background: url(/images/bg-pattern-top-mobile.svg),
      url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0vh left 0, bottom 0 right 0;
  }

  .container {
    width: 35rem;
    display: initial;
  }

  .info-section h1 {
    text-align: center;
    line-height: 0.7;
    font-size: 2.5rem;
    width: 22.5rem;
    margin-inline: auto;
    padding: 0.5rem;
    margin-block: 1.6rem;
  }

  .info-section p {
    text-align: center;
    width: 29rem;
    margin-inline: auto;
  }

  .rating-section {
    max-width: 100%;
    gap: 1.6rem;
  }

  .rating-section > div {
    max-width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .comments-section {
    display: initial;
  }

  .rating-section div:nth-child(1),
  .rating-section div:nth-child(2),
  .rating-section div:nth-child(3) {
    transform: none;
  }
}

@media (width: 360px) {
  .container {
    width: 32.5rem;
  }
}
